.jws-outside-bar {
    width: 100%;
    height: 10px;
    background-color: white;
    border-radius: 3px;
}

.jws-inside-bar {
    width: 0;
    height: 100%;
    border-radius: 3px;
    background-color: deepskyblue;
}

.jws-handle {
    height: 25px;
    width: 24px;
    margin-top: -17.5px;
    /*margin-left: calc(30% - 12.5px);*/
    margin-left: -12px;
    display: block;
}

.jws-text {
    height: 30px;
    width: 80px;
    padding: 4px;
    color: #00ee00;
    margin-top: 0px;
    margin-left: -40px;
    font-size: 12px;
    text-align: center;
}